<div class="container">
  <div class="row">
      <div class="col-lg-3">
          <h1 class="my-4">ISW0813</h1>
          <h2>Estadistica inferencial</h2>
          <!--<div class="list-group">
              <a href="#" class="list-group-item">Category 1</a>
              <a href="#" class="list-group-item">Category 2</a>
              <a href="#" class="list-group-item">Category 3</a>
          </div>-->
          <div class="card">
            <div class="card-header">
              Media aritmetica
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>2000:</b> {{data[data.length-1]['μ']['2000'] | number:'3.1-4'}}</li>
              <li class="list-group-item"><b>2009:</b> {{data[data.length-1]['μ']['2009'] | number:'3.1-4'}}</li>
            </ul>
          </div>
          <hr>
          <div class="card">
            <div class="card-header">
              Varianza
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>2000:</b> {{data[data.length-1]['σ^2']['2000'] | number:'3.1-4'}}</li>
              <li class="list-group-item"><b>2009:</b> {{data[data.length-1]['σ^2']['2009'] | number:'3.1-4'}}</li>
            </ul>
          </div>
          <hr>
          <div class="card">
            <div class="card-header">
              Desviacion estandar
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>2000:</b> {{data[data.length-1]['σ']['2000'] | number:'3.1-4'}}</li>
              <li class="list-group-item"><b>2009:</b> {{data[data.length-1]['σ']['2009'] | number:'3.1-4'}}</li>
            </ul>
          </div>
      </div>
      <div class="col-lg-9">
          <div id="carouselExampleIndicators" class="carousel slide my-4">
              <img class="d-block img-fluid" src="../assets/header.jpg" alt="First slide">
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header">Datos</div>
                      <div class="card-body">
                          <table class="table">
                              <thead>
                                  <th>Pais</th>
                                  <th>2000</th>
                                  <th>2009</th>
                                  <th>% Cambio</th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of data">
                                      <td>{{item.Pais}}</td>
                                      <td>{{item[2000]}}</td>
                                      <td>{{item[2009]}}</td>
                                      <td>{{item.CambioPorcentual}} %</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

          <br>
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
      <p class="m-0 text-center text-white">&copy; Marny Lopez Lopez 2019</p>
  </div>
  <!-- /.container -->
</footer>
